*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:  .2s;
}

.container{
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    font-size: large;
    font-family: fantasy;
    
}

.header, .footer, .box{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.content {
    flex: 5;
    display: flex;
    justify-content: space-between;
}

#box1{
    flex: 3;
}

@media screen and (max-width: 1280px){
    .content>div {
        min-width: 400px;
    }
    .content{
        flex: 100%;
    }
    .header{
        min-height: 100px;
    }
    .footer{
        min-height: 100px;
    }
}

@media screen and (max-width: 720px){
    .content>div {
        flex-direction: column;
    }
}